body {
	background: #626f78;
}

h1 {
	margin: 0;	
	background: #75D068;
	padding: 10px;
}

.calculadora {
	margin: 10px;
	padding: 10px;
	border-radius: 5px;
	background: #272822;
}

.margin-tb {
	margin: 10px 0;
}

.resultado {
	padding: 0;
	margin: 0;
	font-size: 30px;
}

/*------------ Tipografia ------------*/

h1 {
	font-size: 40px;
	text-align: center;
}


